.Aboutcontiner{

}

.header{
    margin: 00px 0px 10px 600px;
    text-shadow: 1px 1px #fff;
}

#continer-about{
    display: inline-block;
    border: solid  #8c0ff2;
    border-radius: 25px; 
    margin-top: 20px;
    margin-left: 310px;
    padding: 50px;
    height: 350px;
    width: 700px;

}