.continerManager{

    display:inline;
    margin-top: 50px;
    float: right;

}


#Managerbar{
    display: inline;
    /* margin: 250px 00px 0px 0px; */
}

#Managerbar ul li {
    text-align: center;
    padding: 5px;
    height: 30px;
    width: 80px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.607);
    border-radius: 30px;
    background: white;
    background-color: rgba(246, 55, 87, 0.639);
    margin: 10px;
    list-style: none;
    
}
#Managerbar ul li:link{
    text-decoration:none;
}