#header{
    margin: 0px 000px 0px 000px;
    text-shadow: 1px 1px #fff;
    display: block;
}
#formSignup{
    border: solid;
    border-radius: 25px;
    border-color:  #8c0ff2;
    display: inline-block;
    /* width: 500px; */
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 60px; 
    margin-left: 420px;
}

#formSignup ul li{
    list-style: none;
    margin-top: 10px;
    
    
}
#formSignup ul li input{
    margin-left: 10px;
    margin-right: 10px;
    height: 30px ;
    border-radius: 10px;
    border: none
    
    
}

#formSignup ul li label{
    margin-top: 10px;
    margin-left: 20px;

}
#formSignup ul li textarea{
    margin-left: 20px;
    width: 355px;
    height: 150px;
    font: 1.0rem/1.5 sans-serif;
    border-radius: 10px;
    border: none
}
#formSignup ul li select{
 height: 24px;
   
}
#selectSginUp{
    margin-top: 10px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}


#custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
#custom-file-input::before {
    content: 'Select picture';
    display: inline-block;
    background-color: rgba(237, 233, 10, 0.639);
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    margin-left: 20px;
}
#custom-file-input:hover::before {
    border-color: black;
}
#custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #8c0ff2);
}
.sendSign{
    text-align: center;
    height: 30px;
    width: 100px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.607);
    border-radius: 30px;
    background: white;
    background-color: rgba(237, 233, 10, 0.639);
    margin-top: 20px; 
    margin-left: 150px;
}
